.underline-animate {
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* petit espace pour que la ligne ne pousse rien */
  }
   .underline-animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #9333ea; /* violet Tailwind */
    transform: translateX(-100%);
    animation: slide-in 1s ease-out forwards;
    border-radius: 1px;
  }
   @keyframes slide-in {
    to {
      transform: translateX(0%);
    }
  }
 